@import Entities.User
@import java.util
@(tests: util.List[User])

@main() {
    @*<li>@test.getFirstName @test.getLastName <a href="#">x</a></li>*@
    <h2>User</h2>

    <form method="post" action="@routes.HomeController.save()" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name" name="fname" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name" name="lname" required>
        </div>
        <div class="form-group">
            <input type="date" class="form-control" placeholder="Date" name="date" required>
        </div>
        <input type="submit" value="Submit" class="btn btn-info" />
    </form>

    <table class="table">

        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @for(test <- tests) {
            <tr>
                <td>@test.getFirstName</td>
                <td>@test.getLastName</td>
                <td>@test.getBirthDate.format("dd/MM/yyyy")</td>
                <td>
                    <a href="/update/@test.getObjectId">Edit</a>
                    <a href="/delete/@test.getObjectId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

