@import Entities.User
@import helper._
@import java.util
@(tests: User)

@main() {
    @*<li>@test.getFirstName @test.getLastName <a href="#">x</a></li>*@
    <h2>User</h2>

    <form method="post" class="form-inline" action="@routes.HomeController.updating()">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name" name="fname" value="@tests.getFirstName" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name" name="lname" value="@tests.getLastName" required>
        </div>
        <div class="form-group">
            <input type="date" class="form-control" value="@tests.getBirthDate.format("yyyy-MM-dd")" title="Birthday Date">
        </div>
        <input type="submit" value="Update" class="btn btn-info" />
    </form>
}

